@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Outfit:wght@300&family=Righteous&display=swap');
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    min-height: fit-content;
}



.logo-link-container {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-size: 40px;
    margin-left: 10px;
}

.title {
    font-size: 40px;
    font-family: 'Alatsi', sans-serif;
    font-weight: 700;
    color: black;
}

.nav {
    background-color: var(--main-color);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 650ms;
}

.nav-menu-items {
    width: 100%;
    display: flex;
    padding: 5px;
    list-style: none;
}

.nav-icon {
    font-size: 25px;
    margin-right: 15px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    transition: 250ms ease-in;
}

.nav-item a:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.nav-item span {
    font-size: 16px;
}

.navbar-toggle {
    background-color: #F3F5F4;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 30px;
    font-size: 25px;
}

.img-wrap {
    width: 45%;
    padding-top: 1px;
    text-decoration: none;
}

.img {
    width: 100%;
}

.hamburger-menu-wrap {
    display: none;
}

.nav {
    display: none;
}

/* SIDEBAR */

.sidebar-inactive {
    display: none;
}

.sidebar-active {
    display: block;
    position: fixed;
    border-radius: 0 0 10px 0;
    border-right: 2px solid var(--black-color);
    border-bottom: 2px solid var(--black-color);  
    top: 0;
    left: 0;
    width: 30%;
    height: fit-content;
    background-color: var(--main-color);
    z-index: 5000;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

.sidebar-active.show {
    transform: translateX(0);
}

.sidebar-menu-items {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.sidebar-item:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.sidebar-item:hover span {
    text-decoration: underline;
}

.sidebar-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar-icon {
    margin-right: 10px;
}

.hamburger-menu-img {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 1100px) {

    .nav-menu-items {
        gap: 15px;
    }

    .nav-item a {
        padding: 5px;
    }

    .nav-icon {
        font-size: 20px;
        margin-right: 10px;
    }

    .nav-item span {
        font-size: 14px;
    }
}

@media (min-width: 850px) {
    .sidebar-active.show {
        display: none;
    }
}

@media (max-width: 850px) {

    .navbar {
        display: flex;
        justify-content: flex-start;
    }

    .hamburger-menu-wrap {
        display: block;
        width: 30%;
    }

    .pc-nav {
        display: none;
    }

    .logo-link-container {
        width: 40%;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .navbar {
        width: 100%;
    }

    .sidebar-item {
        padding: 10px;
    }
    
    .sidebar-item a {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .sidebar-active.show {
        width: 110px;
    }

    .sidebar-item {
        padding: 5px;
    }
    
    .sidebar-item a {
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .title {
        font-size: 32px;
    }

    .logo {
        font-size: 32px;
    }
}

@media (max-width: 330px) {
    .title {
        font-size: 26px;
    }

    .logo {
        font-size: 26px;
    }
}

@media (max-width: 290px) {
    .title {
        font-size: 22px;
    }

    .logo {
        font-size: 22px;
    }
}

@media (max-width: 250px) {
    .sidebar-active.show {
        width: 110px;
    }

    .sidebar-item {
        padding: 3px;
    }
    
    .sidebar-item a {
        font-size: 10px;
    }
}