.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: rgb(197, 209, 205, 0.6);
    border-radius: 15px;
    border: 2px solid black;
}

.forgot-label {
    font-size: 24px;
    font-weight: 700;
    color: var(--black-color);
    width: 90%;
    margin-bottom: 15px;
    text-align: center;
}

.forgot-email {
    border: 0.5px solid gray;
    width: 90%;
    font-family: inherit;
    font-size: 16px;
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 10px;
}

.send-email-btn {
    width: 90% !important;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--black-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.send-email-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.send-email-btn:disabled {
    background-color: lightgray;
}

.send-email-btn:disabled:hover {
    cursor: default;
}

.message {
    color: black;
}

@media (max-width: 1800px) {
    .forgot-password-container {
        height: 350px;
    }

    .forgot-label {
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .forgot-password-container {
        width: 100%;
    }

    .message-container {
        height: 30px;
    }

    .message {
        font-size: 12px !important;
    }
}

@media (max-width: 500px) {
    .forgot-password-container {
        height: 250px;
        width: 100%;
    }

    .forgot-label {
        font-size: 18px;
        width: 90%;
    }

    .forgot-password-container input {
        padding: 8px;
        border-radius: 8px;
    }

    .forgot-password-container button {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {

    .forgot-password-container {
        height: 200px;
        width: 100%;
    }

    .forgot-label {
        font-size: 15px;
    }

    .forgot-password-container input {
        padding: 8px;
        font-size: 12px;
        border-radius: 8px;
    }

    .message-container {
        height: 20px !important;
    }

}

@media (max-width: 350px) {

    .forgot-password-container input {
        font-size: 10px;
        padding: 5px;
    }

    .forgot-password-container button {
        font-size: 10px;
    }

    .forgot-label {
        margin-bottom: 5px;
    }

    .message {
        font-size: 8px !important;
    }
}

@media (max-width: 320px) {
    .forgot-label {
        font-size: 12px;
    }
}