.comment-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.location-comment {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.commenter-prof-pic {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 100px;
    margin-right: 5px;
}

.comment-top {
    display: flex;
}

.commenter-username {
    display: flex;
    font-size: 13px;
    font-weight: 700;
}

.comment-time {
    font-size: 13px;
    margin-left: 5px;
}

.comment-middle {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.likes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.like-comment {
    background: none;
    border: none;
    color: var(--black-color);
}

.like-comment:hover {
    color: red;
    cursor: pointer;
}

.unlike-comment {
    background: none;
    border: none;
    color: red;
}

.unlike-comment:hover {
    opacity: 0.7;
    cursor: pointer;
}

.view-images {
    display: flex;
    align-items: center;
    font-size: 11px;
    width: fit-content;
}

.view-images:hover {
    text-decoration: underline;
    cursor: pointer;
}

.comment-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 10px;
    gap: 5px;
}

.comment-images::-webkit-scrollbar {
    height: 8px;
}

.comment-images::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 10px;
}

.comment-images::-webkit-scrollbar-thumb {
    background: var(--black-color);
    border-radius: 10px;
}

.comment-images::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.comment-image {
    height: 100px;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 5px;
}

.comment-image:hover {
    transform: scale(1.05);
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.image-modal-content {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
}

.image-modal img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.delete-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    background: none;
    border: none;
}

.delete-comment:hover {
    cursor: pointer;
}

.delete-comment:disabled:hover {
    cursor: default;
}

.invisible-delete {
    width: 10%;
    color: var(--secondary-color);
}

.delete-final-container {
    width: 10%;
    display: flex;
    align-items: center;
}

.delete-final {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(199, 73, 73);
}

.delete-final:hover {
    background-color: rgb(201, 16, 16);
    cursor: pointer;
}

@media (max-width: 1500px) {
    .comment-text {
        font-size: 12px;
    }

    .delete-final {
        font-size: 10px;
        padding: 2px;
        margin-left: 10px;
    }
}

@media (max-width: 1500px) {
    .commenter-prof-pic {
        width: 30px;
        height: 30px;
    }

    .commenter-username {
        font-size: 10px;
    }

    .comment-time {
        font-size: 10px;
    }

    .comment-text {
        font-size: 10px;
    }

    .like-comment {
        font-size: 10px;
    }

    .unlike-comment {
        font-size: 10px;
    }

    .likes-container p {
        font-size: 12px;
    }

    .comment-image {
        height: 80px;
    }

    .view-images {
        font-size: 10px;
    }

    .delete-final {
        margin-left: 10px;
    }
}

@media (max-width: 700px) {

    .commenter-prof-pic {
        width: 25px;
        height: 25px;
    }

    .commenter-username {
        font-size: 8px;
    }

    .comment-time {
        font-size: 8px;
    }

    .comment-text {
        font-size: 8px;
    }

    .comment-image {
        height: 60px;
    }

    .view-images {
        font-size: 8px;
    }

    .likes-container {
        margin-left: 5px;
    }

    .delete-comment {
        margin: 0;
        margin-left: 7px;
    }

    .delete-final {
        border-width: 1px;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {

    .commenter-username {
        font-size: 7px;
    }

    .comment-time {
        font-size: 7px;
    }

    .comment-text {
        font-size: 7px;
    }

    .comment-images {
        gap: 3px;
    }

    .comment-image {
        height: 50px;
        border-radius: 3px;
    }

    .comment-images::-webkit-scrollbar {
        height: 5px;
    }    

    .view-images {
        font-size: 7px;
    }

    .likes-container {
        margin-left: 5px;
    }

    .like-comment {
        font-size: 7px;
    }

    .unlike-comment {
        font-size: 7px;
    }

    .likes-container p {
        font-size: 8px;
    }

    .delete-comment {
        font-size: 8px;
    }

    .delete-final {
        font-size: 7px;
        padding: 1px;
        margin-left: 5px;
    }
}

@media (max-width: 350px) {

    .comment-images {
        gap: 2px;
    }

    .comment-image {
        height: 40px;
    }

    .comment-images::-webkit-scrollbar {
        height: 4px;
    }    

    .view-images {
        font-size: 6px;
    }

    .delete-comment {
        font-size: 8px;
        margin-left: 3px;
    }

    .delete-final {
        font-size: 7px;
        padding: 1px;
        margin-left: 3px;
    }
}