.banner-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative;
}

.greeting {
    font-size: 4vh;
}

.home-search-form {
    display: flex;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);
}

.home-search-form input[type="search"] {
    height: 5vh;
    width: 25vw;
    border: none;
    border-radius: 100px;
    padding-left: 25px;
    font-size: 20px;
}

.home-post-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 70vh;
    width: 50%;
}

.local-post-container {
    margin-top: 7vh;
}

.local-favorites {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.favorites-title {
    font-size: 35px;
}

.favorites-title span {
    text-decoration: underline;
}

.home-see-more {
    text-decoration: none;
    font-size: 20px;
}

.local-posts {
    display: flex;
    justify-content: space-between;
}

.local-post {
    
}

.local-post-img {
    height: 16vh;
    border-radius: 25px;
}