.banner-container {
    background: url("/assets/images/haleakala-sunset.jpg");
    background-size: cover;
    background-position: 0% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    position: relative;
    margin-bottom: 7vh;
}

.greeting {
    font-size: 5vh;
    font-weight: 600;
    color: white;
}

.home-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);
}

.home-search-bar {
    height: 5vh;
    width: 650px;
    border: 2px solid var(--black-color);
    border-radius: 100px;
    padding-left: 25px;
    font-size: 20px;
}

.clear-query {
    position: absolute;
    color: black;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.search-results-dropdown {
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid var(--black-color);
    border-top: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    width: 90%;
}

.search-result-item {
    list-style: none;
    background-color: white;
}
.user-result {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid var(--black-color);
}

.user-result:hover {
    cursor: pointer;
    background-color: lightgray;
}

.user-result-info {
    display: flex;
    flex-direction: column;
}

.user-result img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.user-result-username {
    font-size: 25px;
    font-weight: 700;
}

.user-result-name {
}

.location-result {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid var(--black-color);
}

.location-result:hover {
    cursor: pointer;
    background-color: lightgray;
}

.location-result-name {
    font-size: 25px;
    font-weight: 700;
}

.location-result-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.home-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 70vh;
    width: 50%;
}

.home-post-container.hidden {
    overflow: hidden;
}

.local-post-container {
    width: 100%;
}

.local-favorites {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.favorites-title {
    font-size: 35px;
    font-weight: 500;
}

.favorites-title span {
    text-decoration: underline;
}

.home-see-more {
    text-decoration: none;
    font-size: 20px;
}

.home-see-more:hover {
    text-decoration: underline;
}

.local-posts {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination button {
    background: none;
    font-size: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.pagination button:hover {
    opacity: 0.7;
}

.pagination button:disabled {
    color: gray;
    cursor: default;
}

.pagination button:disabled:hover {
    opacity: 1;
}

.posts-housing {
    display: flex;
    flex-direction: column;
}

.home-post-container hr {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-color: gray;
    width: 500px;
}

.no-following {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
}

.no-following span {
    margin-left: 10px;
}