.signup-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-back-btn-container {
    width: 85%;
}

.signup-form-back {
    display: flex;
    width: fit-content;
    align-items: center;
    border: 2px solid var(--black-color);
    padding: 10px;
    border-radius: 100px;
}

.signup-form-back:hover {
    cursor: pointer;
    background-color: var(--black-color);
    color: white;
}

.signup-form-header {
    color: var(--black-color);
    width: 75%;
    font-size: 30px;
    padding: 1.75rem 0;
}

.signup-form-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signup-form-input {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    font-family: inherit;
    border: 0.5px solid gray;
    font-size: 16px;
    border-radius: 10px;
    outline-color: #6E9CED;
}

.signup-form-input.input-error {
    border: 2px solid red;
    outline-color: red;
}

.location-container {
    padding-left: 15px;
    display: flex;
}

.location-text {
    font-size: 16px;
    font-family: inherit;
    color: var(--black-color);
}

.location-text span {
    text-decoration: underline;
    color: black;
    padding-left: 5px;
}

.location-btn {
    padding: 5px;
    border-radius: 100px;
    color: var(--black-color);
    background-color: #F9D199;
    border: 2px solid black;
    font-family: inherit;
    margin-left: 10px;
}

.location-btn:hover {
    cursor: pointer;
    background-color: #ffe1b6;
}

.signup-modal-btn {
    width: 100%;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(41, 41, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-modal-btn:hover {
    background-color: rgb(67, 67, 255);
    cursor: pointer;
}

.signup-modal-btn:disabled {
    background-color: lightgray;
    cursor: default;
    border: 1px solid gray;
}

.login-error-container {
    height: fit-content;
    margin: 0;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 85%;
}

.error {
    display: none;
}

.error.shown {
    display: flex;
    font-size: 12px;
    color: var(--black-color);
    padding-left: 5px;
    height: 100%;
}

.password-input-container {
    position: relative;
}

.eyeball {
    position: absolute;
    color: black;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 1600px) {
    .signup-form-container {
        height: 330px;
    }

    .signup-form-back {
        padding: 5px;
    }

    .signup-form-header {
        padding: 0;
        font-size: 26px;
        margin: 10px 0
    }

    .signup-form-input {
        padding: 8px;
    }

    .signup-form-container {
        gap: 3px;
    }

    .signup-modal-btn {
        font-size: 14px;
        padding: 7px;
        margin: 5px 0;
    }

    .location-container {
        padding-left: 7px;
    }

    .terms {
        font-size: 8px !important;
        margin: 0 !important;
    }
}

@media (max-width: 1200px) {

    .signup-component {
        height: auto !important;
        width: 380px;
    }

    .signup-form-container {
        height: 280px;
    }

    .signup-form-header {
        font-size: 20px;
    }

    .signup-form-input {
        padding: 5px;
    }

    .error {
        font-size: 9px !important;
    }

    .signup-modal-btn {
        font-size: 14px;
        padding: 7px;
        margin: 5px 0;
    }

    .location-text {
        font-size: 14px;
    }

    .terms {
        font-size: 8px !important;
        margin: 0 !important;
    }
}

@media (max-width: 400px) {
    .signup-component {
        width: 100% !important;
    }
}

@media (max-width: 350px) {
    .signup-component {
        height: auto !important;
    }

    .signup-back-btn-container {
        margin-top: 3px;
    }

    .signup-form-back {
        font-size: 9px;
    }

    .signup-form-header {
        margin: 5px;
        font-size: 17px;
    }

    .signup-modal-container {
        height: 100%;
    }

    .signup-form-container {
        height: 100%;
        gap: 1px;
    }

    .signup-form-input {
        font-size: 12px;
        border-radius: 7px;
    }

    .terms {
        font-size: 7px !important;
    }
}