.addloc-container {
    display: flex;
    justify-content: space-between;
    height: 95vh;
}

.addloc-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    margin-left: 10px;
    height: 100%;
}

.addloc-label {
    color: var(--black-color);
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}

.addloc-input {
    border: 3px solid var(--black-color);
    font-size: 20px;
    height: 50px;
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    resize: none;
}

.char-count {
    text-align: right;
}

.big-input {
    height: 200px;
    padding: 10px;
}

.submit-location {
    background-color:var(--black-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    border: 3px solid var(--black-color);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.submit-location:hover {
    background-color: rgb(32, 31, 31);
}

.submit-location:disabled {
    background-color: lightgray;
    border: 1px solid black;
}

.loading-location {
    height: 20px;
    width: 20px;
}