:root {
  --main-color: #D9E7E3;
  --secondary-color: #C5D1CD;
  --black-color: #001514;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", serif;
  background-color: var(--main-color);
  color: black;
}

button {
  color: black;
}

.page { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 95vh;
}

body.hidden {
  overflow-y: hidden;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

hr {
  outline: none;
  border: 1px solid black;
}