.signup-page {
    background-size: cover;
    background-position: center;
    background-color: #D9E7E3;
    background-attachment: fixed;
}


.signup-btn {
    width: 85%;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #F9D199;
    font-family: inherit;
}

.signup-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.signup-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    background-color: rgb(197, 209, 205, 0.6);
    color: #fff;
    border-radius: 18px;
    text-align: center;
    border: 2px solid var(--black-color);
}


.signup-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-header {
    width: 50%;
    color: #222222;
    font-weight: normal;
    font-size: 2rem;
    padding: 20px 0;
}

.signup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-container button {
    background-color: #34495E;
}
/*  */

.google-btn {
    background-color: #4184F3;
    font-family: inherit;
}

.signup-component-or {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.signup-component-or hr {
    width: 20%;
    border: none;
    height: 1px;
    background-color: #34495E;
}

.no-account {

}

.no-account span {
    color: gray;
}

.no-account a {
    color: #F6E3D4;
    padding-left: 8px;
}

.terms {
    width: 80%;
    font-size: 12px;
    color: #34495E;
}

.terms span {
    text-decoration: underline;
}


@media (max-width: 1500px) {
    .signup-header {
        width: 60%;
    }

    .signup-btn {
        padding: 8px;
    }

    .no-account {
        margin: 0;
    }
}

@media (max-width: 1300px) {

    .signup-header {
        font-size: 24px;
    }

    .signup-btn {
        font-size: 16px;
    }

    .signup-component-or {
        padding: 10px;
    }

    .no-account {
        margin: 0;
    }

    .terms {
        margin: 0 !important;
    }

}

@media (max-width: 1100px) {
    .signup-component {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 700px) {
    .signup-component {
        height: 280px;
        width: 300px;
    }

    .signup-header {
        padding: 10px 0;
    }

    .signup-btn {
        padding: 5px;
    }
}

@media (max-height: 600px) {
    .signup-component {
        height: 280px !important;
        width: 300px !important;
    }

    .signup-component-or {
        font-size: 10px;
    }

    .signup-header {
        padding: 10px 0;
    }

    .signup-btn {
        padding: 5px;
        font-size: 10px;
    }
}

@media (max-width: 310px) {
    .signup-component {
        width: 100%;
    }
}