/* general styles */
.page-login {  
    background-size: cover;
    background-position: center;

    background-color: var(--main-color);
    background-image: url("/assets/images/login-background.PNG");
    background-attachment: fixed;
    background-size: cover;  
  }
  
  .login-component {
    width: 92%;
    border: 2px solid var(--black-color);
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 18px;
    text-align: center;
  }

  .login-btn {
    width: 85%;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--black-color);
    color: white;
  }
  
  .login-btn:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  
  .login-header {
    width: 75%;
    margin: 0 auto;
  
    font-weight: normal;
    font-size: 25px;
  
    padding: 1.75rem 0;
  }
  
  
  /* login container */
  .login-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login-container-input {
    border: 0.5px solid gray;
    width: 85%;
    margin: 0 auto;
    font-family: inherit;
    font-size: 16px;
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 10px;
  }
  
  .login-container div {
    padding-top: 5px;
  }
  
  .login-container a {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    transition: 0.5s;
  }
  
  .login-container a:hover {
    color: #34495E;
    background: white;
  }
  /*  */
  
  
  /* anchor tag forgot password */
  .atag-forgot-password {
    margin: 2rem 0;
  }
  
  .atag-forgot-password a {
    color: #34495E;
    text-decoration: none;
  }
  /*  */
  
  
  /* alternate login */
  .alternate-login {
    display: flex;
    justify-content: center;
  }
  
  .alternate-login div {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .alternate-login button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
  }
  
  .google-btn {
    background-color: #4184F3;
    color: white;
    width: 85%;
  }

  .no-account {
  }
  
  .no-account span {
    color: gray;
  }
  
  .no-account a {
    color: #F6E3D4;
  }
  
  .terms {
    width: 80%;
    margin: 10px auto;
  
    font-size: 10px;
    color: #34495E;
  }
  
  .terms span {
    text-decoration: underline;
  }
  
  @media (min-width: 900px) {
    .login-component {
      width: 30%;
    }
    .login-header {
      font-size: 2rem;
      padding: 2.75rem 0;
    }
    .no-account {
      margin-top: 2rem;
    }
    .terms {
      font-size: 12px;
  }
  }