.password-change-container {
    width: 700px;
    height: 500px;
    border: 2px solid var(--black-color);
    background-color: rgb(197, 209, 205, 0.6);
    color: #fff;
    border-radius: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.change-password-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--black-color);
}

.password-change-inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.password-change-inputs label {
    color: black;
    text-align: left;
    padding-left: 5px;
    margin-top: 15px;
}

.password-change-inputs input {
    border: 0.5px solid gray;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    padding: 0.75rem;
    padding-left: 1rem;
    border-radius: 10px;
}

.password-change-inputs button {
    width: 100% !important;
    padding: 15px;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--black-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.change-password-btn:disabled {
    background-color: lightgray;
}

.change-password-btn:disabled:hover {
    cursor: default;
}

.eyeball1 {
    position: absolute;
    color: black;
    right: 80px;
    top: 216px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eyeball2 {
    position: absolute;
    color: black;
    right: 80px;
    top: 297px;
    transform: translateY(-50%);
    cursor: pointer;
}

.message-container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    font-size: 12px;
}

@media (max-width: 800px) {
    .password-change-container {
        height: 400px;
        width: 600px;
    }

    .eyeball1 {
        right: 75px;
        top: 165px;
    }
    
    .eyeball2 {
        right: 75px;
        top: 247px;
    }
}

@media (max-width: 700px) {
    .change-password-title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .password-change-container {
        height: 350px;
        width: 500px;
    }

    .eyeball1 {
        right: 60px;
        top: 126px;
    }
    
    .eyeball2 {
        right: 60px;
        top: 207px;
    }
}

@media (max-width: 550px) {
    .change-password-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .password-change-container {
        height: 300px;
        width: 90%;
    }

    .password-change-inputs label {
        font-size: 12px;
    }

    .password-change-inputs input {
        font-size: 14px;
        padding: 7px;
    }

    .eyeball1 {
        right: 60px;
        top: 104px;
        font-size: 14px;
    }
    
    .eyeball2 {
        right: 60px;
        top: 168px;
        font-size: 14px;
    }

    .password-change-inputs button {
        font-size: 14px;
    }

    .message-container {
        height: 30px;
    }

    .message {
        font-size: 9px;
    }
}

@media (max-width: 500px) {


    .eyeball1 {
        right: 55px;
        top: 110px;
    }
    
    .eyeball2 {
        right: 55px;
        top: 173px;
    }
}

@media (max-width: 450px) {

    .eyeball1 {
        right: 48px;
        top: 110px;
    }
    
    .eyeball2 {
        right: 48px;
        top: 173px;
    }
}

@media (max-width: 375px) {

    .change-password-title {
        font-size: 17px;
        margin: 0;
    }

    .eyeball1 {
        right: 40px;
        top: 108px;
    }
    
    .eyeball2 {
        right: 40px;
        top: 171px;
    }
}