.options-container {
    display: flex;
    flex-wrap: wrap;
}

.pin-option {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: var(--black-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-option:hover {
    cursor: pointer;
    outline: 3px solid #6E9CED;
}

.pin-option.selected {
    outline: 3px solid #2273ff;
}

.pin-img {
    height: 100%;
}

@media (max-width: 2000px) {
    .pin-option {
        height: 35px;
        width: 35px;
        margin: 3px;
    }
}

@media (max-width: 1450px) {
    .pin-option {
        height: 30px;
        width: 30px;
        margin: 2px;
    }
}

@media (max-width: 1200px) {
    .pin-option {
        height: 25px;
        width: 25px;
        margin: 2px;
        border-radius: 7px;
    }

    .pin-option.selected {
        outline-width: 2px;
    }
}

@media (max-width: 1050px) {
    .pin-option {
        height: 20px;
        width: 20px;
        border-radius: 5px;
    }

    .pin-img {
        height: 13px;
    }
}

@media (max-height: 950px) {
    .pin-option {
        height: 20px;
        width: 20px;
        margin: 2px;
    }
}

@media (max-height: 850px) {
    .pin-option {
        height: 25px;
        width: 25px;
        margin: 2px;
        border-radius: 7px;
        padding: 3px;
    }

    .pin-img {
        height: 100%;
        width: 100%;
    }

    .pin-option.selected {
        outline-width: 2px;
    }
}

@media (max-height: 625px) {
    .pin-option {
        height: 20px;
        width: 20px;
        border-radius: 5px;
        padding: 2px;
    }
}

@media (max-width: 725px) {
    .pin-option {
        height: 18px;
        width: 18px;
        margin: 2px;
        border-radius: 3px;
    }
}

@media (max-width: 660px) {
    .pin-option {
        padding: 1px;
        height: 18px;
        width: 18px;
        margin: 1px;
    }

    .pin-option img {
        height: 90%;
        width: 90%;
    }

    .pin-option.selected {
        outline-width: 1px;
        outline-color: rgb(58, 72, 216);
        filter: drop-shadow(0px 0px 2px rgb(58, 72, 216));
    }
}

@media (max-width: 450px) {
    .pin-option {
        padding: 1px;
        height: 16px;
        width: 16px;
        margin: 1px;
    }
}

@media (max-width: 350px) {
    .pin-option {
        padding: 2px;
    }
}