.edit-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--black-color);
    border-radius: 10px;
    padding-top: 30px;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 20px;
    margin-left: 20px;
}

.cancel {
    width: fit-content;
    border: 2px solid var(--black-color);
    padding: 5px;
    font-family: inherit;
    border-radius: 10px;
}

.cancel:hover {
    cursor: pointer;
    background-color: var(--black-color);
    color: white;
}

.profile-pic {
    height: 20vh;
    width: 20vh;
    border-radius: 300px;
    margin: 5px;
}

.change-profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-btn {
    border: 2px solid var(--black-color);
    padding: 5px;
    font-family: inherit;
    border-radius: 10px;
    font-weight: 700;
}

.change-btn:hover {
    cursor: pointer;
    background-color: var(--black-color);
    color: white;
}

.attribute-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
    margin-top: 50px;
    padding-bottom: 600px;
    width: 80%;
}

.attribute {
    display: flex;
    justify-content: right;
    margin: 10px 0;
    width: 100%;
    margin-right: 100px;    
}


.attribute label {
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}

.attribute input {
    border: 2px solid var(--black-color);
    border-radius: 10px;
    font-family: inherit;
    font-size: 25px;
    padding: 3px 5px;
    height: 45px;
    width: 100%;
    margin-right: 20px;
    outline: none;
}

.column {
    width: 70%;
}

.attribute textarea {
    border: 2px solid var(--black-color);
    border-radius: 10px;
    font-family: inherit;
    font-size: 25px;
    padding: 3px 5px;
    resize: vertical;
    overflow: hidden;
    margin-right: 20px;
    width: 100%;
    height: 150px;
    outline: none;
}

.count {
    text-align: right;
}

.save {
    font-size: 20px;
}

.profile-modal-bottom {
    display: flex;
    justify-content: space-between;
}

.profile-error {
    font-size: 12px;
    padding-left: 10px;
}

.edit-profile-input.input-error {
    border: 2px solid red;
    outline-color: red;
}