.discover-container {
    display: flex;
    justify-content: space-between;
    height: 95vh;
}

.discover-map-container {
    width: 80%;
    border: 3px solid var(--black-color);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px 10px 10px;
}

.search-sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 10px;
    margin-top: 100px;
}

.discover-sidebar-header {
    width: 100%;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
}

.search-name-container {
    margin-top: 15px;
    position: relative;
}

.search-name-label {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

.search-by-name {
    border: 3px solid var(--black-color);
    font-size: 20px;
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 700;
    padding-left: 7px;
    border-radius: 15px;
    font-family: "Outfit", sans-serif;
    resize: none;
    outline: none;
}

.results-container {
    position: absolute;
    z-index: 600;
    width: 100%;
}

.results {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 3px solid var(--black-color);
    border-radius: 0 0 15px 15px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -15px;
    z-index: 500;
    padding-top: 10px;
}

.results::-webkit-scrollbar {
    width: 8px;
}

.results::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 10px;
}

.results::-webkit-scrollbar-thumb {
    background: var(--black-color);
    border-radius: 10px;
}

.results::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.result {
    width: 100%;
    padding: 7px;
    text-overflow: ellipsis;
    cursor: pointer;
    color: var(--black-color);
    font-family: "Outfit", sans-serif;
    border-top: 1px solid rgb(226, 226, 226);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-width: 100%;
}

.filter-icon {
    margin-top: 10px;
}

.result:hover {
    background-color: var(--secondary-color);
}

.result.active
.result.active:hover {
    background-color: var(--secondary-color);
}

.marker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pin-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.pin-info {
    height: 100px;
    width: 200px;
    border: 2px solid var(--black-color);
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--secondary-color);
    overflow: hidden;
}

.pin-card img {
    height: 100px;
    width: 100px;
    border: 2px solid;
    border-radius: 0 10px 10px 0;
}

.pin-top {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
}

.pin-bottom {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin-icon-container {
    position: relative;
    height: 50px;
    filter: drop-shadow(0px 0px 3px black);
}

.pin-icon {
    height: 100%;
}

.pin-type {
    position: absolute;
    height: 22px;
    top: 17px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-preview {
    position: absolute;
    top: 5px;
    left: 5px;
}

.close-preview:hover {
    cursor: pointer;
}

.pin-city {
    font-weight: 700;
}

.gm-style-iw-chr {
    display: none;
}

.gm-style .gm-style-iw-c {
    padding: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gm-style .gm-style-iw-d {
    background: none !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.gm-style-iw-tc {
    display: none;
}

.gm-style-iw-c {
    padding: 0 !important;
}

.pick-up {
    display: flex;
    flex-direction: column;
}

.person {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.hand {
    position: relative;
    top: 13px;
    left: 18px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.disc-pin-container {
    display: flex;
}

.disc-options-container {
    display: flex;
    flex-wrap: wrap;
}

.disc-pin-option {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: var(--black-color);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc-pin-option:hover {
    cursor: pointer;
    outline: 3px solid #6E9CED;
}

.disc-pin-option.selected {
    outline: 3px solid #2273ff;
}

.disc-pin-img {
    height: 100%;
}

@media (max-width: 1600px) {
    .discover-sidebar-header {
        font-size: 26px;
    }

    .search-name-label {
        margin-top: 5px;
    }

    .disc-pin-option {
        height: 30px;
        width: 30px;
        margin: 3px;
    }

    .disc-pin-option.selected {
        outline-width: 2px;
    }

    .search-by-name {
        border-width: 2px;
        padding: 3px 5px;
        height: 40px;
        border-radius: 10px;
    }

    .results {
        border-width: 2px;
        border-radius: 0 0 10px 10px;
        margin-top: -15px;
    }
    
    .result {
        padding: 3px 5px;
    }
}

@media (max-width: 1500px) {
    .disc-pin-option {
        height: 25px;
        width: 25px;
        border-radius: 5px;
    }

    .search-name-label {
        margin-left: 0;
    }
}

@media (max-width: 1200px) { 
    .pin-info {
        height: 75px;
        width: 125px;
        border-radius: 7px 0 0 7px;
    }
    
    .pin-card img {
        height: 75px;
        width: 80px;
        border: 2px solid;
        border-radius: 0 7px 7px 0;
    }
    
    .pin-top {
        padding: 2px;
        font-size: 13px;
    }
    
    .pin-bottom {
        padding: 3px;
        width: 80px;
        font-size: 10px;
    }

    .pin-city {
        font-size: 10px;
    }
    
    .pin-icon-container {
        height: 45px;
    }
    
    .pin-type {
        height: 21px;
    }
}

@media (max-height: 1100px) {
    .search-sidebar {
        margin-top: 0;
    }

    .discover-sidebar-header {
        font-size: 22px;
    }

    .search-name-label {
        font-size: 14px;
    }

    .search-by-name {
        font-size: 18px;
        height: 40px;
        border-radius: 10px;
    }

    .results {
        margin-top: -13px;
        border-radius: 0 0 10px 10px;
    }

    .result {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .discover-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .search-sidebar {
        flex-direction: row;
        width: 90%;
        height: auto;
        padding: 5px;
    }

    .discover-map-container {
        width: 90%;
        height: 100%;
    }

    .search-name-label {
        margin: 0;
    }

    .search-name-container {
        width: 50%;
        padding: 0;
        margin: 0;
    }

    .search-by-name {
        border: 2px solid;
        border-radius: 7px;
        width: 100%;
        margin-bottom: 0;
    }

    .disc-filter-icon {
        width: 100%;
        margin: 0;
    }

    .disc-pin-option {
        padding: 2px;
        height: 20px;
        width: 20px;
        margin-right: 3px;
    }

    .disc-pin-option.selected {
        outline-width: 2px;
        outline-color: rgb(58, 72, 216);
    }
}


@media (max-height: 700px) {

    .discover-map-container {
        border-width: 2px;
    }

    .discover-sidebar-header {
        font-size: 20px;
    }

    .search-name-label {
        font-size: 16px;
    }

    .search-by-name {
        height: 30px;
        border-radius: 7px;
        font-size: 14px;
    }
    
    .result {
        font-size: 14px;
    }
}

@media (max-width: 775px) {
    .disc-pin-option {
        padding: 1px;
        height: 18px;
        width: 18px;
        margin-right: 3px;
    }

    .disc-pin-option img {
        height: 90%;
        width: 90%;
    }

    .disc-pin-option.selected {
        outline-width: 1px;
        outline-color: rgb(58, 72, 216);
        filter: drop-shadow(0px 0px 2px rgb(58, 72, 216));
    }
}

@media (max-width: 600px) {
    .pin-info {
        height: 60px;
        width: 100px;
    }
    
    .pin-card img {
        height: 60px;
        width: 65px;
    }
    
    .pin-top {
        font-size: 12px;
    }
    
    .pin-bottom {
        font-size: 9px;
    }

    .pin-city {
        font-size: 9px;
    }
}

@media (max-width: 500px) {
    .search-by-name {
        font-size: 12px;
        height: 25px;
        border-width: 1px;
        border-radius: 5px;
    }

    .search-name-label {
        font-size: 12px;
    }

    .results {
        border-width: 1px;
        border-radius: 0 0 5px 5px;
    }

    .result {
        font-size: 12px;
    }

    .search-name-label {
        height: fit-content;
    }
}

@media (max-width: 450px) {
    .search-by-name {
        font-size: 10px;
        height: 20px;
        border-width: 1px;
    }

    .search-name-label {
        font-size: 14px;
    }

    .results {
        border-width: 1px;
    }

    .result {
        font-size: 10px;
    }

}

@media (max-width: 350px) {
    .search-name-label {
        font-size: 10px;
    }
    
    .hand {
        top: 10px;
        left: 14px;
    }
}
